
.witness_explanation{
      	background-color: skyblue;
      	border : 1px solid skyblue;
      	border-radius : 30%;
    	text-align : center;
      }
      
.witness_explanation .witness_explanation_content{
	font-size : 15px;
	font-family: naBrush;
	
}

